<div class="edit-product">
  <h1 class="form-title">Edit Product</h1>

  <div class="form-container">
    <%= render "form", product: @product %>
  </div>

  <div class="form-actions">
    <%= link_to "Cancel", @product, class: "button cancel-button" %>
  </div>
</div>
